nav {
    display: none;
}

.menu-button {
    background: none;
    border: none;
    color: #00FF00;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.menu-button:hover + nav, nav:hover {
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 0.5rem;
    margin-bottom: .2em;
}

nav li:hover {
    background: #333;
    text-decoration: none;
    width: 10%;
}