.menu {
    /* z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #5c86ff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; */
}

  
.menu-button {
    background: none;
    border: none;
    color: #5c86ff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}