h1 {
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    font-family: "Menlo", monospace;
    font-size: 16px;
    margin-left: 10px;
}

a {
    font-family: "Menlo", monospace;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-family: "Menlo", monospace;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    /* margin-left: 0px; */
}

li {
    font-family: "Menlo", monospace;
    list-style: none;
    font-size: 14px;
}

.biggerLi {
    font-weight: bold;
    margin-bottom: 5px;
}

.specialLi {
    font-size: 15px;
    margin-bottom: 5px;
}

.bulletPoint {
    list-style: circle;
    max-width: 80%;
    margin-top: 5px;
}

.bulletPoint-indent {
    list-style: circle;
    margin-left: 20px;
    margin-top: 2px;
    max-width: 80%;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.school-name {
    font-weight: bold;
    font-size: 16px;
}

.school-year {
    font-size: 13px;
    align-self: flex-end;
    position: absolute;
    right: 10px;
}

.school-location {
    font-size: 14px;
    position: absolute;
    right: 10px;
}

.project-language {
    opacity: 0.5;
    font-size: 13px;
    z-index: -1;
}

.python {
    width: 90%;
    height: 9px;
    border-radius: 30px;
    /* margin-left: 10px; */
    margin-bottom: 5px;
}

.python::-webkit-progress-bar {
    border-radius: 30px;
}

.python::-webkit-progress-value {
    border-radius: 30px;
    background: linear-gradient(to right, #5C86FF, #5C86FF);
}

.sticky-div {
    /* position: sticky; */
    /* top: 0; */
    /* padding-top: 1px; */
    z-index: 999; /* The sticky element will have a higher z-index than the scrollable elements */
    background-color: #222;
}

.scrollable-div {
    z-index: 0; /* The scrollable elements will have a lower z-index than the sticky element */
}

@media (max-width: 600px) {
    .bulletPoint {
        list-style: circle;
        max-width: 90%;
    }
}